snippet tcol
	<fo:table-column column-number="${1}" column-width="${2}mm" />
snippet trow
	<fo:table-row>
		${1}
	</fo:table-row>
snippet tcell
	<fo:table-cell number-rows-spanned="${1:1}" number-columns-spanned="${2:1}">${3}</fo:table-cell>
snippet block
	<fo:block>${1}</fo:block>
snippet egraph
	<fo:external-graphic src="url('${1}')" content-width="${2}mm" content-height="${3}mm" />
