snippet for "fori" !
for (${4:size_t} ${2:i} = 0; $2 < ${1:count}; ${3:++$2}) {
    ${0:/* code */}
}
endsnippet

snippet if "if .. (if)" !
if (${1:/* condition */}) {
    ${0:/* code */}
}
endsnippet

